---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

interface Props {
  items: string[];
}

const { items } = Astro.props;
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<div class="tldr-box">
  <div class="tldr-box__title">{t('tldr.title')}</div>
  <ul>
    {items.map((item) => (
      <li>{item}</li>
    ))}
  </ul>
</div>
